<div class="container">
    <h1 style="font-size: 34px;">Valor a Receber</h1>
    <div class="box">

        <div class="header-1" style="text-align: start;">
            <h1 style="font-size:34px;">Ap/Quarto {{numero}}</h1>
            <h2>Data Reserva: {{data_r}}</h2>
            <h2>Data Entrada: {{data_e}}</h2>
            <h2>Data Saída: {{data_s}}</h2>
            <h2>Status: {{status}}</h2>

        </div>
        <hr>
        <div class="header-valor">
            <h1 style="margin-bottom: 14px; margin-top: 14px; font-size: 36px;">Total R$ {{valor}}</h1>
            <h2 style="margin-bottom: 14px; margin-top: 14px; font-size: 36px;">{{diaria}}</h2>
        </div>
    </div>
    <hr>
    <div style="width: 100%;" class="box">
        {{clientes}}
    </div>

    {{consumo_prods}}

    {{tablepro}}

    <div class="box" style="margin-bottom: 24px;">

        <a href="{{URL}}/receber">
            <div style=" width: 250px; margin-top: 24px;" class="btn-cancel">

                <h2>Voltar ↩</h2>

            </div>
        </a>
        {{button-finish}}

        {{button-pagar}}
    </div>
</div>