<div class="box-form">
    <h1>Atualizando data da saída Ap {{numeroap}}</h1>
    <hr>
    <hr>
    <form action="" method="post">
        <label for="reserva">Data da reserva</label>
        <h2 type="date" name="reserva" id="">{{reserva}}</h2>
        <hr>
       
        <label for="entrada">Data da entrada</label>
        <h2 type="date" name="entrada" id="">{{entrada}}</h2>]
        <hr>

        <label for="reserva">Data da saída atual</label>
        <h2 type="date" name="saida-atual" id="">{{saida}}</h2>
        <hr>

        <h1 style="margin-top: 8px;">Selecione uma data</h1>
        <input type="date" name="saida-data" id="" required><br>
        <h1 style="margin-top: 8px;">Selecione a hora</h1>
        <input type="time" name="saida-hora" id="" required><br>

        <button type="submit" class="btn-pay" style="margin-top: 24px;">Salvar atualização ✔</button>

    </form>
</div>