
<div class="container" >
    <h2 style="font-size: 34px; margin-top: 8px;"><strong>Adicionando produto no Ap/Quarto {{numero}}</strong> </h2>
    <h3>{{nome}}</h3>
    <h3>{{valor}}</h3>

    <form class="" action="" method="post">
        <input  style="margin-top: 24px;font-size: 34px; text-align: center; width: 5.5rem;" name="quantidade" placeholder="1" type="number" required>
        <br>
        <button style="margin-top: 24px;"  class="btn-hosp" type="submit">
                Adicionar produto ✅
        </button>
    </form>
</div>