<form action="" method="post">
    <div class="box-column">

        <h2>{{tipo}}</h2>

        <label for="decricao" style="margin-top: 8px;">Descrição</label>
        <input type="text" value="{{descricao}}" name="descricao" placeholder="Ex: Compras, Material Limpeza...">
        <label for="valor" style="margin-top: 8px;">Valor</label>
        <input type="text" value="{{valor}}" name="valor" placeholder="00,00">

        <label for="valor" style="margin-top: 18px;">Vencimento</label>
        <input type="date" value="{{vencimento}}" name="data-vencimento">

        <div>
            <button class="btn" style="margin-top: 8px;"> Salvar</button>
        </div>

    </div>
</form>