<div class="box-column">
    <h2>Finalizando pagamento do Ap/Quarto</h2>
    <h2>{{numeroap}}</h2>
<hr style="margin-top: 24px;">
    <form action="" method="post" class="box">
        <label for="dinheiro">
            <h3>Dinheiro</h3>
        </label>
        <input type="radio" name="pagamento"  id="" value="0" required>
        <hr>
        <label for="dinheiro">
            <h3>Pix</h3>
        </label>
        <input type="radio" name="pagamento"  id="" value="1" required>
        <hr>
        <label for="dinheiro">
            <h3>Cartão</h3>
        </label>
        <input type="radio" name="pagamento"  id="" value="2" required>

        <button style="margin-top: 24px;" class="btn-pay" type="submit">Finalizar pagamento</button>
    </form>
</div>