  <form action="" method="post">
<div class="box-column" >
  
    <h3 style="margin-bottom: 24px;">Novo tipo Ap/Quarto</h3>
    <input class="input-new" type="text" value="{{descricao}}" name="descricao" placeholder="Descrição" id="" required>

    <input class="input-new" value="{{valor}}" type="text" onKeyPress="return(moeda(this,'.',',',event))" name="valor" placeholder="0,00" id="" required>

    <input class="input-new" value="{{max}}" type="number" name="max" placeholder="max" id="" required>

    <button type="submit" style="margin-top: 24px;" class="btn-add-tipo"><strong>Salvar</strong></button>

</div>
</form>
